push constant 10
add
pop local 0//simple comment
////simple comment
/*this is a block comment*/
/*hi/*this/*is/*a extra/*large/*yuca*/d*/d*/d*/d*/dfg
/*
estos es multil
-inea 
porque yolo*/
/*esto
/*es
/*multilinea
/*anidado
*/d*/d*/d*/
Esto es la yuca
/*esto //es el jamo*/juaj/*jaid*/
dj/*djsldjie*/
/*kd
*/d
*/
dja